#login > div,
#signup > div {
  margin: 1em 0em;
  text-align: center;
}

#signup .form-group,
#login .form-group {
  text-align: initial;
}

a {
  text-decoration: none;
  color: white;
}

#signup span,
#login span {
  color: red;
  background-color: #ffff;
}

#page-login,
#page-singup {
  background-image: url("./../img/bg_login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#page-login .card,
#page-singup .card {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 1.25rem;
}

.h1-login,
h4.success {
  background-color: rgb(0, 0, 0, 0.5);
}
#page-login h4.success {
  text-align: center;
  color: #ffcf00;
}

/*Home page*/
.bg-general {
  background-image: url(./../img/bg_home.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

.bg-light {
  background-color: #e9ecef !important;
}

.jumbotron .info,
#containerJumbo {
  margin-left: 3em;
}

.jumbotron-fluid {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
}

/*Style for manage Users*/

#table-users .container {
  width: 90vw;
  height: auto;
  background-color: rgb(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#table-users h1 {
  text-align: center;
  font-family: "Lucida Sans", sans-serif;
  color: #004effc7;
  background-color: #ffcf00a8;
}

#table-users table.table {
  color: #ffff;
}

.btn-success {
  color: #fff;
  background-color: #386ac7;
  border-color: #386ac7;
}

.btn-danger {
  color: #2c4e60;
  background-color: #ffcf00;
  border-color: #ffcf00;
}

/*---Pop Up styles---*/
.input-group-prepend {
  width: 30%;
}
.input-group-prepend > span {
  width: 100%;
}
#pop-up-edit,
#popUpDelete,
#pop-up-add
{
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  top: 20vh;
  left: 40vw;
  padding: 20px;
  color: #fff;
}

#table-users .btn-success:hover {
  color: #fff;
  background-color: #386ac78a;
  border-color: #386ac78a;
}

#table-users .btn-danger:hover {
  color: #fff;
  background-color: #ffcf00b3;
  border-color: #ffcf00b3;
}

.hidden-popup {
  display: none !important;
}

#popUpDelete input {
  background-color: transparent;
  border: none;
  color: #fff;
  width: 100%;
}

/*-----Query Responsive Portrait---*/

@media (max-width: 767px) {
  .jumbotron .info {
    margin-left: 0;
  }

  #containerJumbo {
    margin-left: 0;
    text-align: center;
  }
  #navbarNavAltMarkup {
    margin-top: 1em;
  }
  .navbar-nav {
    width: 100% !important;
    text-align: center;
    margin-top: 1em;
  }
}
